<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <h1>Howard University</h1>
  <h1>East Towers</h1>

  <div class='middle'>
    <a href="https://howardplazatowers.residentportal.com/auth">
      <button>Resident Portal</button>
    </a> 
 </div> 

  <div class='middle'>
    <a href="https://rabot.invtrdan.repl.co/RAs">
      <button>Resident Assistants</button>
    </a> 
  </div> 

  <div class='middle'>
    <a href="https://rabot.invtrdan.repl.co/events">
      <button>Events</button>
    </a> 
 </div> 
  
</body>
</html>