<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resident Assistants</title>
</head>
<body>
  <h1>1st Floor</h1>
  
  <h1>2nd Floor</h1>
  
  <h1>3rd Floor</h1>
  
  <h1>4th Floor</h1>
  
  <h1>5th Floor</h1>
  
  <h1>6th Floor</h1>
  
  <h1>7th Floor</h1>
  
  <h1>8th Floor</h1>
  
  <h1>9th Floor</h1>
  
  <h1>10th Floor</h1>

  <div class='middle'>
		<a href="https://rabot.invtrdan.repl.co/">
			<button>Home</button>
		</a> 
	</div>
  
</body>
</html>